#todoModule {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 8fr;
}

#header {
    background-color: black;
    color: white;
    grid-column: span 2;
}

#todoNav {
    background-color: lightgray;
}

#addProject:hover {
    background-color: white;
}

#todoBody {
    background-color: lightblue;
}