* {
    margin: 0;
}

#headerBox {
    background-color: darkslateblue;
    color: white;
    font-size: 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    padding: 1rem;
}

#todoContainer {
    color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#todoNav {
    background-color: lightgreen;
}

.footerContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}